- Guzzle tabanlı bir HTTP istemcisi, WP REST uç nokta eklentileri ve yeni Gutenberg düzenleyici blokları olan bir WordPress eklentisi bağlamında çalışıyorsunuz.

- PHP, JavaScript ve TypeScript yazarken her zaman WordPress kodlama standartlarını kullanın.

- Her zaman PHP kodunu yazın.

- JavaScript yerine TypeScript yazmayı tercih edin.

- Nesne yönelimli paradigmalar yerine işlevsel paradigmaları, kalıtım yerine kompozisyonu tercih edin, ancak WordPress ekosisteminin en iyi uygulamalarıyla tutarlı olun.

- Okunabilirlik için optimize edin.
