The context for this code, in addition to the file itself and the wider project, is that I am making a tower defense style game that uses a Nintendo Ringcon as the controller. 

Players place turrets and then use exercise to charge up those turrets.

Currently, I'm refactoring the entire project, because I wrote much of it in a sprint, and I'm not sure how well it will work in the long run. I also want to be able to extend it more easily.

You can ask questions if it would be helpful to know more about what I intend.

In addition, I'm working in C# and Unity 2021.3.18f1.

